.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);

  .left-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12px 0px 12px 16px;
      background: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
      width: 92px;
      height: 22px;
    }

    .items {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      flex: none;
      order: 1;
      flex-grow: 1;

      .icon-left-menu {
        padding-left: 4px;
        font-size: 10px;
      }
    }
  }

  .right-side {
    display: flex;

    .icon-right-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 14px;
      background: #ffffff;
      cursor: pointer;
    }

    .icon-right-menu:hover {
      background-color: rgb(210, 210, 210);
    }
  }
}
