.form {
  padding: 12px 132px;
  margin: 8px 56px;
  display: none;
}

.open {
  display: block;
}

.close {
  display: none;
}

.btn-create-confirm {
  background: #0f62fe;
  color: #fff;
  width: 131px;
}
